# User-specific files
*.suo
*.user
*.opendb
*.db
*.sdf
*.tmp

# Build directories
bin/
obj/
ipch/
**/packages/

# VS
**/.vs
**/.vscode

# Binary files
*.dll
*.exe
*.bin
*.lib
*.pfx
*.pdb
*.log
*.tlog
*.obj
*.pch
*.idb
*.png
*.jpeg
*.jpg
*.aps
*.dbmdl
*.i
*.png
*.bmp
*.nupkg
*.pyc

# Meld
*.orig

# ROMs
*.sav
*.sgm